### Node template
# Logs
logs
*.log
npm-debug.log*
/local.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IntelliJ Idea config
/.idea/
